

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
	font-family: 'Inter', sans-serif;
	line-height: 25px;
	color: #414143;
	background-color: #fff;

}

h1 {
	font-weight: 900;
	font-size: 30px;
	line-height: 40px;
}

h2 {
	font-weight: 700;
	line-height: 32px;
}

h3 {
	font-weight: 500;
	font-size: 17px;
	line-height: 32px;
	color: #69c5ac;
}

h4 {
	font-weight: 500;
	line-height: 32px;
}

p {
	font-weight: 300;
	line-height: 30px;
	font-size: 19px;
}

.button {
	border-radius: 20px;
	background-color: #69c5ac;
	border-color: #69c5ac;
	padding: 10px;
}



.btn, .input {
	border-radius: 50px;
}

.button, .input {
	margin: 7px auto 7px auto;
}
 
/* Navbar Link Styling */

header ul {
  display: flex;
  align-items: start;
  list-style-type: none;
}

header ul li {
  padding: 6px 0;

}


header li {
	display: inline;
	margin: auto 10px auto 10px;
}

header ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: 17px;
  color: #d74078;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}

header ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #fdd87a;
  transition: transform 0.9s;
  transform: scaleX(0);
  transform-origin: right;
  border-radius: 10px;
}
.logo {

	width: 40em;
	height: 5em;
}

header ul li a:hover {
  color: #fdd87a;
}
header ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

footer {
	line-height: 30px;
}



.bg-img { 
        background: url(https://girlsgoit.org/img/support-girlsgoit.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
        padding: 1em;


 }



 .bg-img-home { 
        background: url(https://girlsgoit.org/img/apply-for-girlsgoit-summer-camp.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
        padding: 1em;

 }

 .bg-img > div {
 	padding: 1em;
 }



.partners img {
	width: 250px;
	height: 150px;
}

.form-bg {
	background: linear-gradient(45deg, #f58f8b 35%, #aadeec 0, #f58f8b 0, #aadeec 0);
    background-size: 72.4px 72.4px;
}

.form-bg-sponsor {
	background: linear-gradient(45deg, #f58f8b 35%, #aadeec 0, #f58f8b 0, #aadeec 0);
    background-size: 72.4px 72.4px;
}


.white-bg {
	border: 10px solid hsla(0,0%,100%,.5);
	background: white;
	background-clip: padding-box;
	
	/* styling */
	
	padding: 2em;
}


.form-bg {
	background: linear-gradient(45deg, #f58f8b 35%, #aadeec 0, #f58f8b 0, #aadeec 0);
    background-size: 72.4px 72.4px;
}

.form-bg-sponsor {
	background: linear-gradient(45deg, 
              #e97aac 25%, #fdd87a 0, #fdd87a 50%,
              #e97aac 0, #e97aac 75%, #fdd87a 0);
    background-size: 52.4px 52.4px;
}

.white-bg {
	border: 10px solid hsla(0,0%,100%,.5);
	background: white;
	background-clip: padding-box;
	
	/* styling */
	
	padding: 2em;
}




.test-question {
	font-size: 25px;
	line-height: 36px;
	text-align: left;
	background-color: #aadeec;
	background-repeat: no-repeat;
	padding: 45px 60px;
	box-sizing: border-box;
	font-family: inherit;
	-webkit-box-sizing: border-box;
	background-image: url(img/icons/regulations.svg);

}

.test-answer {
	color: #414143;
	background: #fdd87a;
	padding: 80px 55px 150px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.button-next {
	position: absolute;
	right: 60px;
	bottom: 50px;
	letter-spacing: 0;
	font-family: inherit;
	z-index: 2;
}

.button {
	font-family: inherit;
}


.sef-center {
	margin-top: auto;
	margin-bottom: 1.5rem;
}

hr {
	color: solid  5px#414143;
}


.navbar-item img {
	max-width: 100px;
	min-height: 60px;
}


a.navbar-item:hover {
	background-color: none;
}

ol li {
	font-weight: 300;
	font-family: 'Inter', sans-serif;
	line-height: 1.7em;
	justify-content: space-around;
	color: #414143;

}

.limp a {
	font-weight: 700;
	color: #69c5ac;
	text-decoration: underline;
}



figcaption iframe {
	max-width: 100%;
}

.intern-xp {
	background-color: #414143;
}

span p {
	text-align: justify;
	line-height: 15px;
	
}

span {
	color: #414143;
	margin-left: -30px;

}

.box {
	background-color: #414143;
	padding: 70px;
	line-height: 15px;
}


.hero-body {
	margin-bottom: 90px;
}




/*Slider*/






